volumes:
  mariadb:
    driver: local

services:
  mariadb:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_USER: user 
      MYSQL_PASSWORD: mariadb 
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
      - ./photocool.sql:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin
    restart: always
    expose:
      - "40001"
    ports:
      - "40001:80"
    environment:
      - PMA_HOST=mariadb
      - PMA_PORT=3306
